<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<a href="/"><h1>Guilherme Paixão</h1></a>
		<nav>
			<ul>
                		<li><a href="/index.html">Sobre</a></li>
               			<li><a href="/projetos.html">Projetos</a></li>
										<li><a href="/blog.html">Blog</a></li>
                		<li><a href="/contato.html">Contato</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<a href="/license.html">Alguns direitos reservados.</a>
		<div id="links">

			<p>
			<a href="https://www.linkedin.com/in/guilherme-paixao2000/">LinkedIn</a> |
			<a href="https://www.instagram.com/guip2112/">Instagram</a> |
			<a href="https://github.com/gp2112">GitHub</a></p>
		</div>

	</footer>
</body>


</html>
