{% extends 'base.html' %}

{% block title %}Contato{% endblock %}

{% block content %}

  <div id="contato">
    <h2>Contato</h2>
    <ul>
      <li><a href="mailto:guipaixao2000@gmail.com">guipaixao2000@gmail.com</a>
       &nbsp &nbsp <a href="mailto:guircp@usp.br">guircp@usp.br</a> (acadêmico apenas)</li>
      <li><img width=20 height=20 src="/img/telegram.png">
        <a href="https://t.me/gp2112">@gp2112</a> &nbsp &nbsp <a href="#">@gui2112:matrix.org</a>
      </li>

      <li><a href="/gui2112.asc">PGP Public Key</a> </li>
      <li>4382 7E28 86E5 C34F 38D5 <br>7753 8C81 4D62 5FBD 99D1</li>

    </ul>


{% endblock %}
