{ extends 'base.html'}

{% block title %}guip.dev - Licenças{% endblock %}

{% block content %}
<div id="licensa">
  <h1>Licenças</h1>
  <div class="licensa-content">
    <p>Este site, todo o código e o modelo, estão licensiados em <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.pt_BR">Creative Commons 1.0 Universal (CC0 1.0)</a>, ou seja, pertencem ao domínio público.</p>
    <p>Entretanto, os artigos escritos no Blog, estão licensiados em <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons CC BY-SA 4.0</a></p>
  </div>


{% endblock %}
