{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}
<div id="projetos">
                        <h1>Projetos</h1>
                        <ul>
                                <li>
                                        <h2><a href="https://github.com/gp2112/bitcoin-vanity-gen">Bitcoin Vanity Generator</a></h2>
                                        <p>Um gerador de carteiras Bitcoin com endereços "personalizados" desenvolvido em Go.</p>
                                </li>
                                <li>
                                        <h2><a href="https://github.com/gp2112/QueroLerBot">Quero Ler Bot</a></h2>
                                        <p>Um Bot para enviar artigos e notícias sem Paywalls no Twitter.</p>
                                </li>
                                <li>
                                        <h2><a href="https://github.com/gp2112/frogGame">Frog Game</a></h2>
                                        <p>Um simples jogo feito para a disciplina de Sistemas Operacionais, utilizando a biblioteca SDL, com C++.</p>
                                </li>
                                <li>
                                        <h2><a href="https://github.com/gp2112/snowflake-cli">Snowflake CLI</a></h2>
                                        <p>Uma ferrammenta que permite integrar o <a href="https://snowflake.torproject.org/">snowflake</a>, do Tor Project, com qualquer programa em python, para que mais pessoas tenham acesso a uma internet livre!</p>
                                </li>
                        </ul>

                </div>
{% endblock %}
