<head>
    {%- if page.title -%}
    <title>{{ page.title }}</title>
    {%- endif -%}
	<meta charset="UTF-8">
    {% if page.image %}
        <meta property="twitter:card" content="summary">
        <meta property="twitter:title" content="{{ page.title }}">
        <meta property="twitter:image" content="{{ page.image }}">
        <meta property="og:image" content="{{ page.image }}">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/light.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link rel="me" href="https://komuna.digital/@gpeto">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
