---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "typography", "menu";

#albuns {
    list-style-type: none;
}

#albuns li {
    display: inline-block;
    margin: 1%;
}
#albuns li img {
    transition: 300ms;
}
#albuns li img:hover {
    width: 120px;
    margin: 0;
    border: solid rgba(240, 3, 2, 0.9) 5px;
}
