---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "typography", "menu";

.post-list li {
    list-style-type: none;
}

#albuns {
    list-style-type: none;
}

#albuns li {
    display: inline-block;
    margin: 1%;
}
#albuns li img {
    transition: 300ms;
}
#albuns li img:hover {
    width: 120px;
    margin: 0;
    border: solid rgba(240, 3, 2, 0.9) 5px;
}


.collection {
    width: 105%;
    height: 20em;
}
.collection iframe {
    display: inline-block;
    margin: 2%;
    width: 45%;
    height: 98%;
    max-height: 400px;
    border-radius: 0.7em;
}

.selected {
    color: red;
}
